<div class="row article-row">
    <div class="col-8">
        <h4><a href="{{link}}">{{title}}</a></h4>
        <p>{{summary}}</p>
    </div>
    <div class="col-4">
        <button class="btn btn-gold save-article-btn pull-right" data-saved="{{saved}}" data-id="{{_id}}">Save</button>
    </div>
</div>