<div class="row article-row">
    <div class="col-8">
        <h4><a href="{{link}}">{{title}}</a></h4>
        <p>{{summary}}</p>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-green remove-article-btn pull-right" data-id="{{_id}}">Remove from Saved</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-green note-modal-btn pull-right" data-id="{{_id}}">Add Note</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-green view-notes-btn pull-right" data-id="{{_id}}">View and Delete Notes</button>
            </div>
        </div>
    </div>
</div>
